@media print {
    html,body, #root {
        height:100%;
        width:100%;
    }
    .print-media-none {
        display:none;
    }
    .grid-scroll-page-wrapper {
        height: auto;
        min-height: 100%;
    }
    .grid-scroll-wrapper {
        margin-bottom: 0;
        display:block;
        margin-top: 0;
    }
    .students-id-card-wrapper {
        height: auto;
        visibility: visible;
    }
    .students-id-card-wrapper>div.group-of-two-students {
        overflow: hidden;
    }
    .students-id-card-wrapper>div.group-of-two-students:nth-child(4n){
        page-break-after: always;
    }
    #header, #nav
    {
        display: none;
    }
    * {
        -webkit-print-color-adjust: exact !important;
    }
}
@page {
    size: A4;
    margin: 15px;
}
@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}
