@media print {
    body,html, #root {
        -webkit-print-color-adjust: exact;
    }
    .print-media-none {
        display:none;
    }
    .grid-scroll-page-wrapper {
        height: auto;
        min-height: 100%;
    }
    .grid-scroll-wrapper {
        margin-bottom: 0;
        display:block;
        margin-top: 0;
    }
    .students-id-card-wrapper {
        display:block;
        overflow: hidden;
    }
    .students-id-card-wrapper>div.group-of-two-students {
        overflow: hidden;
    }
    .students-id-card-wrapper>div.group-of-two-students:nth-child(4n){
        page-break-after: always;
    }
    .card-content-wrapper {
        position:relative;
        background-image:url('assets/LOGO.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-print-color-adjust: exact;
    }
    #header, #nav
    {
        display: none;
    }
}
@page {
    size: A4;
    margin: 15px;
}
@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
    }
}