/*CSS FOR DATAGRID*/
html,body {
    font-family: sans-serif !important;
}
#root {
    font-family: sans-serif !important;
}
#root>div {
    font-family: sans-serif !important;
}
.logoutLinkContainer {
    margin: 17px 16px;
}
.adminPanelHeading {
    background-color: #f9570a;
}
.logoutLinkContainer a:hover {
    border-radius:4px;
    border:1px solid rgb(218, 76, 8) !important;
    background-color: rgb(218, 76, 8);
    transition: 0.3s all;
}
.primary-color {
    color: #f9570a;
    font-weight: 600;
    font-size: 18px;
}
.arrowIcon {
    margin: -5px 1px !important;
    color: rgb(76, 76, 76) !important;
}
.landingPageButtonContainer .inputText {
    padding: 7px 5px;
    /* height: 15px; */
}
.inputWrapperContainer label {
    font-size:14px;
}
.landingPageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #fffcc9;*/   /*old background color*/
    background-color: #f4e9e338;
}
.landingPageContainer h2 {
    position: fixed;
    top: 0;
    background:rgb(249, 87, 10);
    padding: 15px 0;
    margin: 0;
    color: #fff;
    font-size: 26px;
    width: 100%;
    text-align: center;
}

.landingPageContent {
    display: flex;
    align-items: center;
    justify-content: center;
    /*!*box-shadow: 0 2px 4px 0px #eeecec;*! box-shadow previous set*/
    box-shadow: 0 2px 1px 0px #eeecec;
    background-color: #ffffff;
    flex-direction: column;
    width: 600px;
    max-width: 97%;
}
.footer {
    background: #ee7c2a;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    color: #fff;
    padding: 10px 0;
}
.linkButton {
    color: rgb(255, 255, 255);
    /*background-color: #ee7c2a;*/
    background-color:#f9570a;
    outline:none;
    letter-spacing: 0.5px;
    box-shadow:0 1px 2.5px 0px #777978;
    display: block;
    text-align: center;
    line-height: 20px;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}
.linkButton:hover {
    transition:0.3s all;
    box-shadow: 0 2px 6px 0px #777978;
    background-color: #d24c0c;
}
.buttonOrange {
    color: rgb(255, 255, 255);
    /*background-color: #ee7c2a;*/
    outline:none;
    background-color: #f9570a;
    box-shadow: 0 1px 2.5px 0px #777978;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    border: 2px solid #f9570a;
}
.buttonOrange:hover {
    transition:0.3s all;
    box-shadow: 0 2px 6px 0px #777978;
    background-color: #d24c0c;
    border: 2px solid #d24c0c;
}
.render-table {

    padding: 0px !important;
    margin: 16px 10px 0 !important;
    border: 1px solid #cf4707 !important;
    /* width: auto; */
    overflow: auto !important;
    display: grid !important;
}
.render-table::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0px;
    background-color: #fff;
}
.render-table::-webkit-scrollbar
{
    width: 12px;
    height:12px;
    background-color: #fff;
}
.render-table::-webkit-scrollbar-thumb
{
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #e64d04;
}
.header-column {
    border-right: 0px solid #c2c1bf !important;
    border-left: 1px solid #c2c1bf !important;
    border-bottom: 1px solid #cf4707 !important;
    cursor:pointer;
    border-top: 0px !important;
    width: auto !important;
    overflow: hidden !important;
    background-color: rgb(245, 245, 244) !important;
}
.search-input-column {
    color: #66727c !important;
    border: 1px solid #e6e4e4 !important;
    overflow: unset !important;
    width: auto !important;
    outline: none !important;
    border-radius: 4px !important;
    background-color: #fff !important;
    box-shadow: 0px 1px 1px 0px #edebeb !important;
}
.filter-column {
    margin: 0px 10px 0 0 !important;
    padding:5px;
    clear: both !important;
    overflow: hidden !important;
    /* margin-left: 8px; */
    height:auto !important;
    width: auto !important;
}
.table-cell {
    font-size: 14px;
    color: rgb(76, 76, 76) !important;
    padding:5px 10px !important;
    height:auto !important;
    border-right: 0px;
    border-top: 0px;
    border: none !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
}
.wrapper-pagination-search {
    /*padding: 4px 0;*/
    padding:0px !important;
}
.row {
    overflow: hidden;
    width: auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cf4707 !important;
    border-left: 1px solid #c2c1bf !important;
    /* height: auto; */
}
.pagination-wrapper {
    display:block !important;
    margin-left: 0px !important;
}
.page-number-arrow-for-margin {
    display:inline-block;
}
.page-number-arrow {
    outline:none;
    font-size: 22px !important;
}
.search-bar {
    padding:0 !important;
    margin-top:0 !important;
    margin-right: 16px !important;
}
.search-input {
    padding:5px 0;
    margin-left:16px !important;
    background-color: #fff !important;
    border-radius:4px !important;
    width:auto !important;
    box-shadow: 0px 1.9px 6px 0px #e0dbdb !important;
    -webkit-box-shadow: 0px 1.9px 6px 0px #e0dbdb !important;
}
.search-input:focus {
    box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.01), 0px 0px 3px rgba(0, 0, 0, 0.1) !important;
    background-color: #fffffe !important;
}
.search-input-bar {
    border-radius:4px !important;
    box-shadow: 0px 1.9px 6px 0px #e0dbdb !important;
    -webkit-box-shadow: 0px 1.9px 6px 0px #e0dbdb !important;
}
.search-input-bar:focus {
    background-color: #fffffe !important;
}
.search-input-column {
    width: 100% !important;
    /*box-shadow: 0 -1px 8px -4px #777978 !important;*/
    /*box-shadow: inset 0px 0px 0.2px rgba(0, 0, 0, 0.2) !important;*/
}
.search-input-column:focus {
    background-color: #fefefe !important;
    -webkit-box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.01), 0px 0px 3px rgba(0, 0, 0, 0.1) !important;
    box-shadow: inset 4px 6px 6px rgba(0, 0, 0, 0.01), 0px 1px 0.8px rgba(0, 0, 0, 0.1) !important;
}
.clearFilterButton {
    border-radius: 4px !important;
    background-color: #f1771f !important;
    border: 1px solid #f1771f !important;
    color: white !important;
    font-weight:600 !important;
    margin-right: 8px;
    outline:none;
    cursor: pointer;
    text-transform:uppercase;
    /*padding: 0px 9px;*/
    padding: 0px 10px !important;
    height: 100% !important;
    font-size: 14px !important;
    margin-top: 0px !important;
    box-shadow: 1px 1.2px 3px 0px #b0b0b0;
    background: #f1771f !important;
}
.clearFilterButton:hover {
    transition:0.2s all;
    box-shadow: 1px 1.6px 2px #b0b0b0;
    border: 1px solid #d24c0c !important;
    background: #d24c0c !important;
}
.link {
    /* height: 65%; */
    height:auto !important;
    margin: 0px !important;
    font-size: 14px !important;
    color: #085d66;
    font-family: sans-serif !important;
    padding: 5px 9px !important;
    font-weight:600;
    text-decoration: none;
    border: none !important;
    outline: none;
    color: white !important;
    border-radius: 4px !important;
    background-color: #f9570a;
    box-shadow: 1px 1.2px 3px 0px #b0b0b0;
    background: #f1771f !important;
}
.link:hover {
    transition:0.2s all;
    box-shadow: 1px 1.6px 2px #b0b0b0;
    background: #d24c0c !important;
}
.grid-export {
    margin-top: 2px;
    height:auto !important;
    align-items:center;
}
.page-number-arrow {
    background-color: transparent !important;
    color: rgba(255,255,255,255) !important;
    border: none !important;
}
.page-number-arrow {
    background-color: transparent !important;
    color: #085d66;
    font-size: 22px !important;
    cursor:pointer;
    margin: 1px 3px !important;
    box-shadow: none !important;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    border-radius: 4px !important;
}
.page-number-arrow:hover {
    background-color: transparent !important;
    transition: 0.3s all;
    border-radius: 4px !important;
    font-size: 22px !important;
}
.arrowIcon:hover {
    color: #fff !important;
}
.page-number-arrow:hover .arrowIcon {
    transition: 0.3s all;
    color: rgb(76, 76, 76) !important;
    /*color: #fff !important;*/
}
.table-footer-cell {
    cursor:pointer;
    height:auto !important;
    margin-top:5px;
    border-radius: 3px;
    font-size:20px !important;
    font-weight: 600;
    color: rgb(206, 71, 7) !important;
    border: none !important;
    background-color: transparent !important;
}
.table-footer-cell:hover {
    transition:0.3s all;
    border: none !important;
    background-color: transparent !important;
}
.table-heading {
    padding: 8px 6px 0 !important;
    color: #4c4c4c !important;
    font-weight:500 !important;
}
.page-number-arrow-for-margin {
    margin-top: 0px !important;
}
.pagination-info {
    margin-top: 0px;
}
.header-column {
    width: 100% !important;
    overflow: hidden !important;
    background-color: rgb(244, 248, 249) !important;
    /*background-color: rgb(242, 240, 229) !important;*/
}
.table-body-row:nth-child(2n+1) {
    font-size: 15px;
    background-color: rgba(249, 249, 249, 0.53) !important;
}
.table-body-row {
    font-size: 15px;
    background-color: rgb(239, 244, 245) !important;
}
.btn-block .btn-grid {
    background: #f1771f;
    border: none;
    cursor:pointer;
    color: #fff;
    outline:none;
    box-shadow: 0 1px 4px 0px #777978;
    border-radius: 3px;
    padding: 7px 15px;
}
.btn-block .btn-grid:hover {
    transition:0.3s all;
    background: #d24c0c;
}
.footer {
    background: rgb(249, 87, 10);
}
.total-record-row {
    height:auto !important;
    width:auto !important;
    margin-right:10px;
}
.table-footer {
    text-align:right !important;
}
.inputFieldContainer {
    box-shadow: 0 2px 4px 0px #eeecec;
    background-color: #f3f8fdd4;
    padding:30px 0;
}
.registrationFormContainer {
    background-color: #fff;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 50px;
}
.inputText, .textAreaText {
    width: 100%;
    max-width: 330px;
    padding: 5px;
    border: 1px solid rgb(243, 239, 239);
    border-radius: 4px;
    height:auto !important;
}
.inputText:focus , .textAreaText:focus {
    background: #fbfbfbc7;
}
.table-footer-row {
    margin-right: 5px !important;
}
.column-option-container {
    border-radius: 4px !important;
    background-color: #f1771f !important;
    border: 1px solid #f1771f !important;
    color: white !important;
    letter-spacing: 0.25px;
    font-weight: 600 !important;
    margin-right: 8px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 15px 10px !important;
    height: auto !important;
    font-size: 14px !important;
    margin: 2px 0px 5px !important;
    /* margin-top: 5px; */
    box-shadow: 1px 1px 5px 0px #b0b0b0;
}
.column-option-container:hover {
    transition: 0.3s all;
    box-shadow: 1px 1.6px 2px #b0b0b0;
    border: 1px solid #d24c0c !important;
    background: #d24c0c !important;
}
.column-modal {
    background: #f9570a;
    color: white;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 20px;
}
.registrationFormHeading {
    background-color: #f9570a !important;
}
.sort-order-up , .sort-order-down {
    font-size:14px;
    margin-right:2px;
}
.page-number {
    color: rgb(76, 76, 76) !important;
    font-weight: 500 !important;
}
.column-group-container {
    margin-right:3em;
}
.column-group {

}
.column-modal .column-modal-container {
    font-size:20px;
}
.label input {
    margin-right:10px;
    height:20px;
    width:20px;
}
.label span {
    vertical-align: super;
}
.label {
    color: #6b6c6d;
    cursor:pointer;
    margin-top: 12px;
}
.modal-save-container {
    background-color: #f3f8fdd4;
    text-align: right;
    padding: 20px 30px;
}
.modal-save-container .save-button {
    padding: 8px 16px;
}
.button-modal {
    margin-left: 16px;
    background: #f9570a;
    border: 1px solid #f9570a;
    color: white;
    outline:none;
    box-shadow: 1px 2.5px 3px 0px #b0b0b0 !important;
    font-size:14px;
    letter-spacing:0.4px;
    border-color: #f9570a;
    border-radius: 4px;
    padding: 6px 15px;
    font-weight: 600;
    box-shadow: none;
}
.button-modal:hover {
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    box-shadow: 1px 2.9px 5px 0px #b0b0b0 !important;
    border: 1px solid #d24502 !important;
    background: #d24502 !important;
}
.student-registration-wrapper {
    background: url('assets/student-wrapper.jpg');
    position:relative;
    min-height: 600px;
    background-size:cover;

}
.student-information-wrapper {
    position: absolute;
    bottom: 0;
    padding: 30px;
    background-color: rgba(255,255,255,0.8);
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.student-information-wrapper .buttonContainer {
    display: inline-block;
    width:auto;
    transform: translate(0%,-50%);
    margin-top: 20px;
}
.table-drawer__top {
    background: rgb(244, 248, 249) !important;
    padding: 4px 0px 12px;
    -webkit-box-shadow: 1px 2.2px 9px -3px #c6c7c7 !important;
    border-radius: 4px;
    box-shadow: 1px 2.2px 9px -3px #c6c7c7 !important;
    margin: 15px 10px 10px;
}
@media (max-width: 425px){
    .search-input-bar {
        margin-top:10px;
    }
    .page-number-arrow-for-margin {
        margin-top: 10px !important;
    }
    .render-table {
        margin-top:16px !important;
    }
    .grid-export {
        margin-top: 5px;
    }
    .table-footer-row {
        margin-top:5px !important;
    }
    .wrapper-pagination-search {
        padding:14px 0;
    }
}
@media (max-width: 320px) {
    .search {
        position: absolute !important;
        width: 10px !important;
        height: 10px !important;
        padding: 8px !important;
        right:45px !important;
        /* text-align: center; */
        display: inline-table !important;
        transition: transform .2s !important;
    }
    .pagination-wrapper {
        margin-left: 0px !important;
    }
}
.label {
    display: block;
    margin-top: 4px;
}
.column-group {

    display: flex;
    background-color: #f3f8fdd4;
    padding:20px;
    /*align-items: center;*/
    justify-content: center;
    margin-left: 10px;
}
.save-buttom {
    margin-left: 5px;
}
.modal{
    margin-top: 5px;
    display: -ms-flexbox;
    display: block;
    /* flex: 1; */
    -ms-flex-pack: justify;
    /* justify-content: flex-end; */
}
.column-option{
    display:inline-block;
    margin-left: 10px;
}
.advance-filter{
    margin-right: 10px;
}
.filter-input-filed{
    border: 1px solid #b4bfd2;
}
.column-left{
    margin-left: 10px;
}
.column-right{
    margin-left: 10px;
    margin-right: 10px;
}
.table-drawer.table-drawer__bottom {
    margin: 0px 0 70px;
}
.search-input-advance {
    color: #66727c;
    padding:5px;
    border: 1px solid #e6e4e4;
    overflow: unset;
    width: auto;
    outline: none;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px #e0dbdb;
    -webkit-box-shadow: 0px 1px 3px 0px #e0dbdb;
    background-color: #fff;
}
.search-input-advance:focus {
    background-color: #fdfdfd !important;
    box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.01), 0px 0px 3px rgba(0, 0, 0, 0.1) !important;
}
.advance-search {
    display: inline-block;
    float: right;
    margin-right: 10px;
    border-radius: 4px;
    padding: 5px 10px 4px 0px;
    box-shadow: 1px 2.2px 9px -3px #c6c7c7 !important;
    background: rgb(244, 248, 249) !important;
}
.advance-search-button {
    border-radius: 4px ;
    background-color: #f1771f;
    border: 1px solid #f1771f;
    color: white;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 6px 10px;
    height: 100%;
    font-size: 14px;
    margin-top: 0px;
    -webkit-box-shadow: 1px 1.2px 3px 0px #b0b0b0;
    box-shadow: 1px 1.2px 3px 0px #b0b0b0;
}
.advance-search-button:hover {
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
    -webkit-box-shadow: 1px 1.6px 2px #b0b0b0;
    box-shadow: 1px 1.6px 2px #b0b0b0;
    border: 1px solid #d24c0c !important;
    background: #d24c0c !important;
}
.advance-input-radio {
    display: inline-flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}
.advance-input-radio label:first-child {
    margin-right:0px;
}
input[type = 'radio']:checked {
    background:orange;
}
.search__rectangle {
    bottom: 2px !important;
}
.input-radio {
    padding: 4px 0 5px;
    display: inline-block;
    float:right;
}
.input-radio input-radio-container {
    margin-right: 10px;
}
.input-radio input[type = 'radio'] {
    height: 15px;
    width: 16px;
    margin: 5px 5px 0px 12px;
}
.input-radio label {
    color: #707173;
    /*margin-right:10px;*/
    font-size: 18px;
}