@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

th {
  border: 1px solid #ccc;
  padding: 10px;
}

td {
  border: 1px solid #ccc;
  padding: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
html, body, #root, #root>div, .landingPageContainer {
  height: 100%;
}
input, select, textarea {
  font-family: 'Poppins', sans-serif;
}
.buttonContainer a {
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.yjsgEventInfo {
  margin: 15px 0 0;
  text-align: center;
  line-height: 30px;
}
.primary-color {
  color: #ee7c2a;
}
.linkButton {
  color: rgb(255, 255, 255);
  background-color: #ee7c2a;
  display: block;
  text-align: center;
  line-height: 20px;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}
.registrationFormContainer .popup .linkButton{
  background: #fff;
  color: #4c4c4c;
}

.errorPopupContainer .popup .linkButton{
  background: #fff;
  color: #4c4c4c;
}

.buttonOrange {
  color: rgb(255, 255, 255);
  background-color: #ee7c2a;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  border: 2px solid #ee7c2a;
}

.buttonContainer {
  width: 170px;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

.disabledButton {
  color: rgb(255, 255, 255);
  background-color: rgb(204, 204, 204);
  text-align: center;
  padding: 13px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  border: 2px solid rgb(204, 204, 204);
}

.inputWrapper{
  display: inline-block;
  width: 33.33%;
}
.inputWrapperContainer{
  padding: 12px 20px 15px;
}
.inputWrapperContainer label {
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
  color: #4c4c4c;
}

.inputText, .textAreaText {
  width: 100%;
  max-width: 330px;
  padding: 5px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  height: 25px;
}
.textAreaText{
  height: 50px;
  vertical-align: -webkit-baseline-middle;
}

.selectInputText {
  width: 100%;
  max-width: 340px;
  height: 35px;
  padding: 5px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
}

.inputLabel {
  text-align: left;
  font-size: 12px;
  padding-bottom: 3px;
}

.inputFieldContainer {
  max-width: 1170px;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #ffffff;
  max-height: 100%;
  overflow-y: auto;
}

.registrationFormLogo {
  width: 20%;
  padding: 20px;
}

.registrationFormLogo img {
  width: 100%;
}

.registrationFormButtonContainer {
  display: flex;
  justify-content: center;
}

.registrationFormContainer {
  background-color: #fffcc9;
  height: calc(100% - 96px);
  padding-top: 60px;
}

.registrationFormHeading {
  text-align: center;
  margin: 0;
  font-size:25px;
  background-color: #ee7c2a;
  padding: 17px 0;
  color: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
}

.landingPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffcc9;
}
.landingPageContainer h2 {
  position: fixed;
  top: 0;
  background: #ee7c2a;
  padding: 15px 0;
  margin: 0;
  color: #fff;
  font-size: 26px;
  width: 100%;
  text-align: center;
}

.landingPageContent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  flex-direction: column;
  width: 600px;
  max-width: 97%;
}

.landingPageLogo {
  width: 50%;
  max-width: 200px;
  padding: 20px;
  background-color: #ffffff;
}

.landingPageLogo img {
  width: 100%;
}

.landingPageButtonContainer {
  background-color: #ffffff;
  padding-bottom: 20px;
  text-align: center;
}
.landingPageButtonContainer .inputWrapper{
  width: 210px;
}
.landingPageButtonContainer .inputText{
  padding: 15px 5px;
  height:15px;
}

.registrationFormContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* footer CSS */

.contact-no-footer{
  font-weight: bold;
}
.footer {
  background: #ee7c2a;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  color: #fff;
  padding: 10px 0;
}

/* Popup  */
.popup{
  position: absolute;
  width: 100%;
  height: calc(100% - 96px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,252,201,0.75);
  color: #fff;
  z-index: 99;
}
.popupContainer {
  padding: 50px;
  background: #ee7c2a;
  max-width: 600px;
  text-align: center;
  line-height: 30px;
}
.errorMessageWrapper{
  position: relative;
}

.errorInputField input{
  border-color: red;
  outline: none;
}

.errorInputField select{
  border-color: red;
  outline: none;
}

.errorInputField textarea{
  border-color: red;
  outline: none;
}

.errorMessage{
  position: absolute;
  font-size: 11px;
  color: red;
  top: 5px;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.adminSearchContent{
  width: 700px;
  margin: 0 auto;
}
.adminSearchContainer {
  margin-bottom: 40px;
}
.adminPanelContainer .adminPanelContent .adminResultsContainer {
  height: 100%;
}
.adminResultsContent {
  max-height: 700px;
  overflow: auto;
}
.logoutButtonContainer{
  z-index: 2;
  position: fixed;
  right: 0;
  top: 0;
  right: 10px;
  float: right;
}
.backButtonContainer{
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  right: 10px;
}
.backButtonContainer .buttonContainer {
  margin-top: 5px;
}
.logoutButtonContainer .buttonContainer {
  margin-top: 5px;
}

@media (max-width:1280px) {
  .inputFieldContainer{
    max-width: 97%;
  }
  .inputText, .textAreaText{
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width:768px) {
  .inputWrapper{
    width: 50%;
  }
  .adminSearchContent .inputWrapper {
    width: 33%;
  }
}
@media (max-width:480px) {
  .adminSearchContent,
  .adminSearchContent .inputWrapper{
    width: 100%;
  }
  .logoutButtonContainer .linkButton {
    padding: 5px 10px;
    font-size: 12px;
  }
  .inputWrapper{
    width: 100%;
  }
  .adminResultsContent {
    max-height: 500px;
  }
  .buttonContainer {
    margin: 10px 0 0;
    width: 100%;
  }
  .landingPageButtonContainer{
    width: 90%;
  }
  .landingPageButtonContainer .inputWrapper{
    width: 100%;
  }
  .landingPageButtonContainer .inputWrapperContainer {
    padding: 0;
    margin-top: 15px;
  }
  .registrationFormButtonContainer{
    display: block;
    margin: 0 0px;
  }
  .registrationFormHeading{
    font-size: 24px;
    line-height: 30px;
    padding: 10px 0;
  }
  .landingPageContainer h2 {
    font-size: 13px;
    padding: 10px 0;
  }
  .popupContainer {
    width: 300px;
    padding: 20px;
    max-width: 80%;
  }
  .registrationFormContainer {
    height: calc(100% - 115px);
  }
  .landingPageButtonContainer {
    padding-bottom: 20px;
  }
  .footer {
    font-size: 13px;
    line-height: 16px;
  }
  .contact-no-footer{
    display: block;
  }
  .landingPageContent {
    max-height: 85%;
    overflow-y: auto;
    margin-top:30px;
    /*margin-bottom: 15px;*/
    justify-content: flex-start;
  }
  .yjsgEventInfo {
    font-size: 12px;
    line-height: 25px;
  }
}
@media (max-width:360px) {
  .landingPageLogo {
    max-width: 80px;
  }
  .landingPageButtonContainer .inputText {
    padding: 10px 5px;
  }
}

.adminPanelContent {
  margin-top: 60px;
}

.adminResultsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.adminPanelHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adminPanelHeading {
    text-align: center;
    margin: 0;
    background-color: #ee7c2a;
    padding: 17px 0;
    color: #ffffff;
    top: 0;
    width: 100%;
}
