.table-head {
    background-color: #f2f2f4;
}
.render-table {

    padding: 0px !important;
    margin: 16px 10px 0 !important;
}
.header-column {
    border-right: 0px solid #c2c1bf !important;
    border-left: 1px solid #c2c1bf !important;
    border-bottom: 0.7px solid #e8e8ea !important;
    cursor:pointer;
    border-top: 0px !important;
    width: 100% !important;
    overflow: hidden !important;
    background-color: rgb(242, 242, 244) !important;
}
.filter-column {
    margin: 0px 0px 0 0 !important;
    padding:5px;
    clear: both !important;
    overflow: hidden !important;
    height:auto !important;
    width: auto !important;
}
.table-cell {
    font-size: 14px;
    color: rgb(76, 76, 76) !important;
    /*padding:5px 10px !important;*/
    height:auto !important;
    border-right: 0px;
    border-top: 0px;
    border: none !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
}
.row {

    overflow: hidden;
    width: 100%;
    /*min-width:50px;*/
    display: flex;
    align-items: center;
    /*border: 1px solid #9e4200 !important;*/
    border-bottom: 1px solid #cf4707;
    /*border-top: 0px solid #c2c1bf !important;*/
    /*border-right: 0px solid #c2c1bf !important;*/
    border-left: 1px solid #c2c1bf !important;
    /* height: auto; */
}
.cell__name {
    min-width:100px;
    max-width: 100%;
}
.cell__fatherName {
    min-width: 145px;
    max-width:100%;
}
.cell__mobile> div.table-cell {
   font-family: sans-serif;
}
.cell__email {
    min-width:200px;
    max-width:100%;
}
.cell__gender {
    max-width: 75px;
}
.cell__age {
    max-width: 50px;
}
.cell__address {
    min-width: 270px;
    max-width: 100%;
}
.cell__education {
    max-width: 120px;
}
.cell__classAttended2016, .cell__classAttended2017 , .cell__attendance2016{
    max-width:110px;
}
.cell__edit {
    max-width: 76px;
}
.cell__studentId {
    max-width: 55px;
}
.cell__grid__select-column {
    max-width: 50px;
}
.cell__marks2016, .cell__marks2017,.cell__marks2018, .cell__marks2019, .cell__optIn2018, .cell__optIn2019 {
    max-width: 85px;
}
.cell__day1, .cell__day2, .cell__day3, .cell__day4, .cell__day5, .cell__day6, .cell__day7,  .cell__day8 {
    max-width: 60px;
}
.cell__createdDate {
    max-width: 96px;
}
.cell__lastModifiedDate, .cell__attendance2016, .cell__attendance2017, .cell__attendance2018,
.cell__attendance2019, .cell__motherMobile, .cell__mobile {
    max-width: 100px;
}
.cell__classRoomNo2016, .cell__classRoomNo2017, .cell__classRoomNo2018, .cell__classRoomNo2019 {
    max-width:140px;
}
.cell__grid__select-column input[type = "checkbox"] {
    height: 20px;
    width: 20px;
    cursor:pointer;
    box-shadow: none;
}
.cell__secretKey, .cell__remark, .cell__printStatus {
    max-width: 88px;
}
.cell__busNumber {
    max-width: 65px;
}
.cell__busStop {
    min-width: 250px;
}
.cell__occupation {
    max-width: 108px;
}
@media (max-width:990px) {
    .btn-block input[type = "checkbox"] {
        width:25px;
    }
    .cell__edit {
        max-width: 52px;
    }
}